<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">
        <bean id="dt" class="java.util.Date" primary="true">
        </bean>
        <bean id="date" class="java.util.Date" >
        <property name="year" value="115"/>
        </bean>
        <bean id="da" class="java.util.Date" >
        <property name="year" value="110"/>
        </bean>
        <!-- <bean id="wish" class="com.yp.beans.Wish" scope="prototype">-->
        <bean id="wish" class="com.yp.beans.Wish" >
       
        </bean>
        
        <context:annotation-config></context:annotation-config> 
</beans>
    