<?xml version="1.0" encoding="UTF-8"?>
    <beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        <bean id="dt" class="java.util.Date" >
        </bean>
        <!-- <bean id="wish" class="com.yp.beans.Wish" scope="prototype">-->
        <bean id="wish" class="com.yp.beans.Wish" >
        <property name="date" ref="dt"/>
        </bean>
        <bean id="wish1" class="com.yp.beans.Wish" >
        <property name="date" ref="dt"/>
        </bean>
         <bean id="p" class="com.yp.ston.Printer" factory-method="getInstance"> 
         </bean>
         <!-- brokes singleton behaviour <bean id="p1" class="com.yp.ston.Printer"> 
         </bean>-->
         <bean id="p1" class="com.yp.ston.Printer" factory-method="getInstance"></bean>
         
</beans>
    