<?xml version="1.0" encoding="UTF-8"?>
    <beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        <bean id="drdsOra"  class="org.springframework.jdbc.datasource.DriverManagerDataSource">
      <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
      <property name="url" value="jdbc:oracle:thin:@//localhost:1521/orcl"/>
      <property name="username" value="system"/>
      <property name="password" value="8105"/>
      </bean>
        
      
      <bean id="empOraDAO" class="com.yp.dao.EmployeeOracleDAOImpl">
        <constructor-arg name="ds" ref="drdsOra"/>
        
      </bean>
      <bean id="BAO" class="com.yp.bo.EmployeeBO">
        
      </bean>
      <bean id="DTO" class="com.yp.dto.EmployeeDTO">
        
      </bean>
      
      <bean id="empservice" class="com.yp.service.EmployeeMgmtServiceImpl">
      <constructor-arg name="dao" ref="empOraDAO"/>
      <constructor-arg name="bo" ref="BAO"/>
      
      </bean>
      
  <bean id="controller"  class="com.yp.controller.MainController">
      <constructor-arg name="service"  ref="empservice"/>
      <constructor-arg name="dto"  ref="DTO"/>
  </bean>

</beans>
    